

<form #loginForm="ngForm" (keydown)="keyDownFunction($event)">
  <div [hidden]="loginForm.submitted">
    <br/><br/>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
       
          <h2>Website</h2><br/>
        <app-input [label]="'User name:'" [id]="'username'" (ivaluechange)='valuechange($event)' [type]="'text'"></app-input>
        <app-input [label]="'Password:'" [id]="'password'" (ivaluechange)='valuechange($event)' [type]="'password'"></app-input>
        <div *ngIf="isError" class="panel panel-danger">
          <div class="panel-heading">Login Failed. Invalid Username or password.</div>
        </div>
        <button type="button" class="btn btn-primary" (click)="loginData()">Login</button>
   
      <br/><br/>
      </div>
    </div>
  </div>
</form>